/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 90px;
    padding-bottom: 20px;
}


.outerProd {
    overflow: hidden;
    height: 200px;
}

.innerProd {
}

.full-width {
    width: 100%;
}

.blBoot {
    color: #FFF;
    background-color: #428BCA;
    border-color: #357EBD;
}
    .blBoot:hover {
        color: #FFF;
        background-color: #286eaa
    }

.imgProd {
    width: 100%;
    position: relative;
    /*margin-top: -25%; */
    min-height: 200px;
}


.gris {
    color: #484848;
}

.nav-elem:hover,
.nav-elem:focus,
.nav-elem:active,
.nav-elem.active,
.open .dropdown-toggle.nav-elem {
    color: #333333;
    border-color: #FFF;
}


.foto-inicio {
    width: 150%;
    margin-top: -20%;
    margin-left: -25%;
    border-radius: 10px;
}

.nav-elem {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-left: 1px solid transparent;
    border-color: #FFF;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #333333;
    background-color: #e5e5e5; /* #eef4f8; /* #1BC6DE; */
    border-color: #FFF;
}

.but-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
}

.g {
    height: 100%;
    margin-top: -2%;
}

.shadow {
    box-shadow: 0px 10px 7px #888888;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.divider-vertical {
    height: 90px;
    margin-left: 9px;
    margin-right: 9px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #FFF;
}

.logo {
    height: 90px;
    position: fixed;
    z-index: 10;
}

.tabs {
    margin-top: 20px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"] {
    max-width: 1000px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
